pure-reduce/licenses/*.txt text eol=lf whitespace=-trailing-space,-space-before-tab
pure-reduce/patches/*.patch text eol=lf whitespace=-blank-at-eol,-blank-at-eof
pure-fastcgi/patches/*.patch text eol=lf whitespace=-blank-at-eol,-blank-at-eof
